.ex-1-square {
    transition: 1s;
}
.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: 2s;
}
.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 90%;
}

.ex-4-square {
    transition: 2s;
}
.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(1.9);
}

.ex-5-square:active {
    transform: scale(.9) ;
}

.ex-6-img:hover {
    filter: grayscale(2);
}

.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(1.4) sepia(1.6);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: saturate(1) invert(1);
    border-radius: 15px;   
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    filter: saturate(.6) sepia(.5);
    border-radius: 15px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: spin 0.8s linear infinite reverse;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ex-11-icon:hover {
    animation: spinOff 0.8s linear infinite;
}
@keyframes spinOff {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(270deg); }
    100% {transform: rotate(0deg);}
}

.ex-12-button:hover .ex-12-top-white {
    animation: spostaTop 1s linear;
}

@keyframes spostaTop {
    0% {left:10%;}
    50% {left:50%;}
    100% {left:10%;} 
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: spostaBottom 1s linear;
}

@keyframes spostaBottom {
    0% {right:10%;}
    50% {right:50%;}
    100% {right:10%;}   
}

.ex-13-button:hover .ex-13-top-white {
    animation: movCompletely 2s linear;
}

@keyframes movCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomCompletely 2s linear;
}

@keyframes moveBottomCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}


